<footer class="footer">
	<div class="container">
		<div class="footer__container">
			<div class="footer__logo">
				<a href="#"><img src="/img/logo.svg" alt="logo"></a>
			</div>
			<div class="footer__text">
				<p>© 2015-2016 Garnet Software - разработка и создание сайтов.</p>
				<p><span>Все права защищены.</span></p>
			</div>
			<div>
				<div class="header__phones footer__phones">
					<span class="icon-phone"></span>
					<div class="header__phones-wrap">
						<a href="tel:0800750013" class="header__phones__link"><span>0 (800)</span> 75 00 13</a>
						<a href="#" class="header__phones__link"><span>(048)</span> 703 22 89</a>
						<a href="#" class="header__phones__link"><span>(098)</span> 577 77 47</a>
					</div>
				</div>
				<a href="#" class="footer__phones-mail"><span class="icon-mail"></span>office@garnet-software.com</a>
			</div>
		</div>
	</div>
</footer>



	<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAjElT_8ZdLtMPfj2sQQ-t44dyH1dDjFqc&callback=initMap"></script>
	<script src="/js/main.js"></script>
	</body>
</html>