<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Garnet-land</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="css/main.css">
</head>

<body>

<div class="header">
	<div class="container">
		<div class="header__container">
			<div class="header__logo">
				<a href="#"><img src="/img/logo.svg" alt="logo"></a>
			</div>
			<div class="header__want-order">
				<p>Хотите, мы<br /><span>перезвоним Вам?</span></p>
				<a href="#">Да, хочу!<span class="icon-arrow"></span></a>
			</div>
			<div class="header__phones">
				<span class="icon-phone"></span>
				<div class="header__phones-wrap">
					<a href="tel:0800750013" class="header__phones__link"><span>0 (800)</span> 75 00 13</a>
					<a href="#" class="header__phones__link"><span>(048)</span> 703 22 89</a>
					<a href="#" class="header__phones__link"><span>(098)</span> 577 77 47</a>
				</div>
			</div>
			<div class="header__info">
				<a href="#" class="header__mail"><span class="icon-mail"></span>office@garnet-software.com</a>
				<a href="#" class="header__location"><span class="icon-location"></span>г. Одесса / г. Киев</a>
			</div>
		</div>
	</div>
</div>
<div class="banner" id="pinned-element1">
	dfghjkl;
</div>
<div id="pinned-trigger1">
	
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
