/*
* Third Party
*/
@import "../../bower_components/normalize.css/normalize.css";
@import "../../bower_components/bootstrap/dist/css/bootstrap.min.css";
@import "../../bower_components/Swiper/dist/css/swiper.min.css";


/*
* Custom
*/

@import "partials/variable";
@import "partials/fonts";
@import "partials/owl.carousel.scss";
@import "partials/magnific-popup.scss";
@import "partials/icons.scss";
@import "partials/svg-icons.scss";

a{
	transition: all .2s ease;
	&:visited,&:hover,&:active,&:focus{
		text-decoration: none;
		outline: none;
	}
}

@mixin size($height, $width){
	height: $height;
	width: $width;
}

.calculator {
	background-color: #fff;
	border-radius: 5px;
	padding: 40px 47px;
	width: 485px;
	&__title {
		z-index: 2;
		position: relative;
		top:30px;
		display: inline-block;
		&:before {
			display: block;
			position: absolute;
			content: '';
			width: 90%;
			left:0;
			z-index: -1;	
			bottom:-10px;
			height: 60px;
			left: 50%;
			margin-left: -45%;
			background:rgba(0,0,0,0.1);
			transform: rotate(1.5deg);
		}
		&:after {
			display: block;
			content: '';
			position: relative;
		}
		h2{
			margin: 0;
			display: block;
			z-index: 5;
			opacity: 0.99;
			background:#fff;
			padding: 30px 40px;
			font-family: "Museo-900";
			font-size: 48px;
			color: #383838;
			position: relative;
		}
	}
}

.sepor{
	position: fixed;
	top: 50%;
	left: 0;
	height: 2px;
	width: 100%;
	background-color: black;
	z-index: 9999999999999999999;

}


.header{

	background-color: #383736;
	padding: 19px 0px;
	color: #fff;
	font-family: "Museo-300";
	letter-spacing: 1px;
	position: absolute;
	left:0;
	top:0;
	width: 100%;
	z-index: 100;

	&__container{
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
	}
	&__logo{
		width: 214px;
	}
	&__want-order{
		width: 324px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		align-items: center;
		text-align: right;
		p{
			font-family: "Museo-300";
			font-size: 15px;
			margin-bottom: 0;
			span{
				font-family: "Museo-700";
			}
		}
		a{
			background-color: #fff;
			padding: 17px 28px;
			border-radius: 10px;
			font-family: "Museo-900";
			text-transform: uppercase;
			font-size: 16px;
			border-radius: 10px;
			border-bottom: 3px solid #cccccc;
			color: #606060;
			position: relative;
			overflow: hidden;
			z-index: 0;
			transition: all .3s ease;
			&:before{
				content: '';
				background: red;
				width: 300px;
				height: 300px;
				border-radius: 50%;
				position: absolute;
				left: 0;
				z-index: 0;
				top: 0;
				transform: translate(140px,70px);
				transition: all .3s ease;
				z-index: -1;
			}
			&:hover{
				color: #fff;
				&:before{
					transform: translate(-10px,-110px);
				}
				span{
					color: #fff;
				}
			}
			span{
				color: #cccccc;
			    font-size: 11px;
			    margin-left: 13px;
			    position: relative;
			    right: 0;
			    transition: all .3s ease-in-out;
			}
		}
	}
	&__phones-wrap{
	}
	&__phones{
		width: 200px;
		display: flex;
		justify-content: flex-between;
		&>span{
			font-size: 46px;
			line-height: 59px;
			color: #61605e;
			    margin-right: 9px;
			&:before{
				transform: rotate(38deg);
				display: inline-block;
			}
		}
		&__link{
			display: inline-block;
			width: 100%;
			color: #fff;
			span{
				color: #808080;
			}
			&:hover{
				color: #e74f4c;
			}
		}
	}
	&__info{
		font-family: "Museo-300";
		width: 260px;
		span{
			color: #808080;
			margin-right: 5px;
		}
		a{
			color: #c4c4c4;
			width: 100%;
			display: inline-block;
			font-size: 13px;
			&:hover{
				color: #e74f4c;
			}
		}
	}
	&__location{
		span{
			font-size: 24px;
			position: relative;
			top: 4px;
		}
	}
}


.banner {
	background-image: url("/img/main.jpg");
	background-position: center top;
	background-size: cover;
	text-align: center;
	padding: 200px 0;
	&__buttons{
		margin-top: 12px !important;
	}
	&__title{
		position: relative;
		z-index: 2;
		margin-bottom: 36px;
		h2{
			font-size: 49px;
			background-color: #e74f4c;
			display: inline-block;
			padding: 15px 30px;
			font-family: "Museo-900";
			color: #fff;
			margin: 0;
			z-index: 5;
			opacity: .99;
			position: relative;
			&:nth-child(2){
				background-color: #ef5b58;
				position: relative;
				z-index: 5;
				opacity: .99;
			}
		}
	}
	&__container{
		display: flex;
		justify-content: flex-start;
	}
	&__icons{
		display: flex;
		justify-content: space-between;
		width: 50%;
		margin-top: 37px;
		flex-direction: column;
		padding-left: 151px;
	}
	&__icon{
		padding-left: 140px;
		position: relative;
		width: 356px;
		text-align: left;
		margin-bottom: 75px;
		p{
			font-size: 17px;
			font-family: "Museo-300";
			span{
				font-family: "Museo-900";
			}
		}
		&:before{
			content: "";
			width: 126px;
			height: 127px;
			background-image: url("/img/icons-banner.png");
			background-repeat: no-repeat;
			position: absolute;
			top: 50%;
			left: 0;
			margin-top: -63px;
		}
		&.ic1:before{
			height: 126px;
			background-position: center top;
		}
		&.ic2:before{
			background-position: center -126px;
		}
		&.ic3:before{
			background-position: center -253px;
		}
	}
}

.who-work{
	padding: 115px 0px;
	&__title{
		padding: 20px 0px 60px 0; 
		background-color: #fff;
		text-align: center;
		h2{
			margin: 0;
			font-size: 48px;
			color: #5d5d5d;
			font-family: "Museo-900";

		}
	}
	&__container{
		justify-content: space-between;
		display: flex;
		flex-wrap: wrap;
	}
	&__item{
		width: 33.3334%;
		padding-left: 154px;
		margin-bottom: 60px;
		position: relative;
		.logo{
			margin-bottom: 16px;
			padding-top: 58px;
			img{
				width: 300px;
				height: auto;
			}
		}
		a{
			font-size: 17px;
			text-transform: uppercase;
			color: #fff;
			background-color: #e74f4c;
			border-radius: 10px;
			padding: 20px 55px;
			display: inline-block;
			font-family: "Museo-900";
			letter-spacing: 1px;
			position: relative;
			padding-left: 89px;
			border-bottom: 4px solid #f48381;
			top: 0;
			&:before{
				width: 22px;
				height: 23px;
				content: "";
				background-image: url("/img/arrow2.png");
				position: absolute;
				left: 52px;
				top: 50%;
				margin-top: -11px;
				z-index: 99;
				transition: all .2s ease;
			}
			&:hover{
				top: 4px;
				border-bottom-color: transparent;
			}
		}
		&--big{
			width: 66.66666%;
			padding-left: 0;
		}
		&:before{
			background-image: url("/img/some-icons.png");
			position: absolute;
			content: "";
		}
		&.logo{
			text-align: center;
			padding: 10px 20px;
		}
		&.marketers:before{
			width: 154px;
			height: 173px;
			left: -10px;
			top: 39px;
		}
		&.seo:before{
			width: 151px;
			height: 190px;
			background-position: -4px -174px;
			left: -5px;
			top: 39px;

		}

		&.account:before{
			width: 143px;
			height: 156px;
			left: 0px;
			top: 39px;
			background-position: -4px -366px;
		}

		&.project:before{
			width: 151px;
			height: 171px;
			left: 0px;
			top: 39px;
			background-position: -45px -508px;
		}
		&.design:before{
			width: 151px;
			height: 171px;
			left: 0px;
			top: 39px;
			background-position: -45px -508px;
		}
		&.seo:before{
			width: 151px;
			height: 190px;
		}
		&.web{
			position: relative;
			&:after{
				content: "";
				width: 83px;
				height: 30px;
				position: absolute;
				left: 77%;
				top: -20px;
				background-image: url("/img/punktir.png");
			}
		}
	}
	&__item-descr{
		h5{
			font-family: "Museo-900";
			text-transform: uppercase;
			font-size: 14px;
			color: #383838;
			margin: 0;
			margin-bottom: 12px;
		}
		p{
			font-size: 14px;
		}
	}
	&__item-img{
		margin-bottom: 20px;
		span{
			width: 87px;
			height: 87px;
			display: block;
			background-image: url("/img/guys.png");
			background-repeat: no-repeat;
			&.sasha{
				background-position: center 0;
			}
			&.stas{
				background-position: center -87px;
			}
			&.kostya{
				background-position: center -174px;
			}
			&.lera{
				background-position: center -261px;
			}
			&.julia{
				background-position: center -348px;
			}
			&.evgen{
				background-position: center -435px;
			}
			&.slava{
				background-position: center -522px;
			}
			&.karina{
				background-position: center -609px;
			}
			&.alena{
				background-position: center -696px;
			}
			&.sergey1{
				background-position: center -783px;
			}
			&.sergey2{
				background-position: center -870px;
			}
			&.vadim{
				background-position: center -957px;
			}
			&.sergey3{
				background-position: center -1044px;
			}
			&.ira{
				background-position: center -1131px;
			}
			&.anya{
				background-position: center -1218px;
			}
			&.igor{
				background-position: center -1305px;
			}
			&.tanya{
				background-position: center -1392px;
			}
		}
	}
	.counter{
		text-align: center;
		font-size: 48px;
		color: #e95b49;
		display: flex;
		align-items: center;
		justify-content: center;
		font-family: "Museo-900";
		padding-left: 132px;
		position: relative;
		&:before{
			content: "";
			width: 140px;
			height: 101px;
			position: relative;
			left: 8px;
			top: 50%;
			margin-top: -25px;
			background-image: url("/img/some-icons.png");
			background-repeat: no-repeat;
			background-position: left -981px;
		}
		b{
			margin-right: 17px;
		}
		span{
			color: #383838;
			font-size: 17px;
		}
	}
}


.our-works{
	&__title{
		padding: 20px 0px 60px 0; 
		background-color: #fff;
		text-align: center;
		h2{
			margin: 0;
			font-size: 48px;
			color: #5d5d5d;
			font-family: "Museo-900";

		}
	}
	&__container{
		justify-content: space-between;
		display: flex;
		flex-wrap: wrap;
	}
	&__item{
		height: auto;
		width: 25%;
		height: 505px;
		position: relative;
		overflow: hidden;
		&:hover{
			.our-works__item-info{
				background-color: rgba(0,0,0,.59);
				a{
					opacity: 1;
					bottom: 0;
				}
				h4,p{
					top: 0px;
					opacity: 1;
				}
			}
			img{
				transform: scale(1.3);
			}
		}
	}
	&__item-info{
		transition: all .3s ease;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: rgba(0,0,0,.01);
		color: #fff;
		flex-direction: column;
		h4{
			top: -15px;
			transition: all .3s ease;
			font-size: 19px;
			font-family: "Museo-700";
			position: relative;
			margin-bottom: 65px;
			opacity: 0;
			&:after{
				content: "";
				width: 66px;
				height: 2px;
				background-color: #fff;
				position: absolute;
				bottom: -26px;
				left: 50%;
				margin-left: -33px;
			}
		}
		p{
			top: -15px;
			transition: all .3s ease;
			opacity: 0;
			font-family: "Museo-100";
			font-style: italic;
			font-size: 16px;
			margin-bottom: 150px;
		}
		a{
			position: relative;
			bottom: -15px;
			transition: all .3s ease;
			opacity: 0;
			display: inline-block;
			background-color: #e74f4c;
			border-radius: 10px;
			text-transform: uppercase;
			font-size: 13px;
			font-family: "Museo-900";
			color: #fff;
			padding: 16px 40px;
			&:hover{
				background-color: #a02825;
			}
		}
	}
	&__item-img{
		img{
			transition: transform .3s ease;
			transform: scale(1);
			width: 100%;
			height: auto;
		}
	}
}

.tarifs{
	padding: 140px 0;
	background-color: #2f2f2f;
	position: relative;
	z-index: 0;
	&:after{
		content: "";
		background-image: url("/img/pattern.png");
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		opacity: .26;
	}
	&__title{
		text-align: center;
		color: #fff;
		margin-bottom: 110px;
		h2{
			margin: 0;
			font-size: 48px;
			font-family: "Museo-900";
			margin-bottom: 42px;
			position: relative;
			&:before{
				content: "";
				width: 80px;
				height: 5px;
				background-color: #e74f4c;
				position: absolute;
				bottom: -25px;
				left: 50%;
				margin-left: -40px;
			}
		}
		p{
			font-size: 19px;
			font-family: "Museo-300";
			letter-spacing: 2px;
		}
	}
	&__container{
		display: flex;
		flex-wrap: wrap;
		border-right: 4px;
		justify-content: space-between;
	}
	&__item{
		text-align: center;
		width: 274px;
		position: relative;
		transition: top .3s ease;
		top: 0;
		&:hover{
			top: -5px;
		}
		&:before{
			content: "";
			width: 79px;
			height: 79px;
			position: absolute;
			left: 50%;
			top: -40px;
			margin-left: -40px;
			background-image: url("/img/icons.png");
		}
		&--red{
			&:before{
				background-position: center 0;
			}
			.tarifs__item-info{
				background-color: #e74f4c;
			}
			.tarifs__item-button{
				background-color: #e74f4c;
			}
			p{
				&:before{
					border-left: 8px solid #e74f4c !important;
				}
				&:after{
					border-right: 8px solid #e74f4c !important;
				}
			}

		}
		&--green{
			&:before{
				background-position: center -80px;
			}
			.tarifs__item-info{
				background-color: #9ccf69;
			}
			.tarifs__item-button{
				background-color: #9ccf69;
			}
			p{
				&:before{
					border-left: 8px solid #9ccf69 !important;
				}
				&:after{
					border-right: 8px solid #9ccf69 !important;
				}
			}

		}
		&--yellow{
			&:before{
				background-position: center -160px;
			}
			.tarifs__item-info{
				background-color: #f7c547;
			}
			.tarifs__item-button{
				background-color: #f7c547;
			}
			p{
				&:before{
					border-left: 8px solid #f7c547 !important;
				}
				&:after{
					border-right: 8px solid #f7c547 !important;
				}
			}

		}
		&--blue{
			&:before{
				background-position: center -239px;
			}
			.tarifs__item-info{
				background-color: #3dc5af;
			}
			.tarifs__item-button{
				background-color: #3dc5af;
			}
			p{
				&:before{
					border-left: 8px solid #3dc5af !important;
				}
				&:after{
					border-right: 8px solid #3dc5af !important;
				}
			}

		}
	}
	&__item-info{
		border-radius: 4px;
		padding-top: 48px;
		h3{
			font-size: 17px;
			text-transform: uppercase;
			margin: 0;
			color: #fff;
			font-family: "Museo-900";
			line-height: 26px;
			margin-bottom: 12px;
		}
		p{
			color: #fff;
			display: inline-block;
			background-color: rgba(0,0,0,.2);
			padding: 5px 24px;
			position: relative;
			margin-bottom: 20px;
			font-family: "Roboto-LightItalic";
			&:before,&:after{
				content: "";
				position: absolute;
				top: 0;
				border: 15px solid transparent;
			}
			&:before{
				left: 0;
			}
			&:after{
				right: 0;
			}
		}
		ul{
			background-color: #fff;
			font-family: "Roboto-Thin";
			font-size: 16px;
			color: #3a3a3a;
			list-style-type: none;
			text-align: left;
			padding-left: 0;
			li{
				border-bottom: 1px solid #e3e3e3;
				padding: 16px 15px;
				padding-left: 48px;
				position: relative;
				&:before{
					content: "";
					left: 21px;
					top: 50%;
					width: 17px;
					height: 13px;
					background-image: url("/img/check.png");
					background-repeat: no-repeat;
					margin-top: -6px;
					position: absolute;
				}
			}
		}
	}
	&__item-button{
		display: inline-block;
		width: 100%;
		text-transform: uppercase;
		font-size: 13px;
		color: #fff;
		padding: 17px 10px;
		font-family: "Museo-900";
		border-radius: 4px;
		&:hover,&:focus,&:active{
			color: #000;
		}
		span{
			margin-right: 6px;
			font-size: 16px;
			position: relative;
			top: 1px;
		}
	}
}

.vide-about-us{
	min-height: 710px;
	background-image: url("/img/video-bg.jpg");
	background-position: center top;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	flex-direction: column;
	padding-top: 100px;
	&__title{
		@extend .calculator__title;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		top: translateY(-50%);
		top: -60px;
	}
	&__play{
		width: 217px;
		height: 217px;
		background-color: rgba(0,0,0,.4);
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 140px;
		color: #fff;
		transition: all .3s ease;
		font-size: 150px;
		position: relative;
		&:after{
			content: "";
			width: 131px;
			height: 141px;
			background-image: url("/img/youtube.png");
			background-position: center;
			background-repeat: no-repeat;
			position: absolute;
			bottom: 100%;
			left: 100%;
		}
		&:hover,&:visited,&:active,&:focus{
			color: red;
			font-size: 150px;
			border-radius: 0;
		}
	}
	&__show-video{
		position: relative;
		background-color: #fff;
		border-radius: 5px;
		position: relative;
		padding: 26px 32px;
		padding-left: 100px;
		margin-top: 22px;
		background-position: left 37px center;
		background-image: url("/img/camera.png");
		background-repeat: no-repeat;

		&:before{
			position: absolute;
			content: "";
			border: 10px solid transparent;
			border-bottom: 10px solid #fff;
			bottom: 100%;
			left: 50%;
			margin-left: -10px;
		}
		h5{
			font-size: 18px;
			text-transform: uppercase;
			font-family: "Museo-700";
			margin-bottom: 2px;
			margin-top: 0;
		}
		span{
			font-size: 17px;
			font-family: "Museo-300";
			display: block;
		}
	}
}

.our-garanties{
	background: linear-gradient(to top,#cad2d2 10%,#fcfefe 90%);
	background-image: url("/img/town.jpg");
	background-position: center bottom -11px;
	background-repeat: no-repeat;
	position: relative;
	z-index: 10;
	box-shadow: 0px 36px 49px rgba(0,0,0,.3);
	padding: 148px 0px;
	&__title{
		margin-bottom: 90px;
		text-align: center;
		h2{
			margin: 0;
			display: inline-block;
			padding: 20px 25px;
			font-size: 48px;
			font-family: "Museo-900";
			background-color: #9ccf69;
			color: #fff;
		}
	}
	&__container{

	}
	&__icons{
		display: flex;
		justify-content: center;
		margin-bottom: 170px;
	}
	&__icon{
		margin: 0px 10px;
		max-width: 250px;
		width: 250px;
		text-align: center;
		font-family: "Museo-300";
		font-size: 16px;
		p{
			display: block;
			margin-top: 50px;
			position: relative;
			top: 10px;
			opacity: 0;
			animation: getTop 1s;
			animation-fill-mode: forwards;
			&:before{
				content: "";
				width: 92px;
				height: 6px;
				background-color: #2fabd5;
				position: absolute;
				left: 50%;
				margin-left: -46px;
				top: -27px;
			}
			span{
				font-family: "Museo-900";
				text-transform: uppercase;
			}
		}
		svg{
			font-size: 115px;
			transition: all .3s ease;
			transform: scale(1);
			top: 0;
			position: relative;
		}
	}
	&__titles{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__title-demo{
		@extend .calculator__title;
		h2{
			color: #fff;
			padding: 20px 40px;
		}
		&--blue{
			position: relative;
			z-index: 2;
			h2{
				background-color: #24b7d2;
			}
		}
		&--red{
			position: relative;
			z-index: 1;
			h2{
				background-color: #e74f4c;
			}
		}
	}
	&__buttons{
		display: flex;
		justify-content: center;
		margin-top: 125px;
	}
	&__button{
		border-radius: 10px;
		display: inline-block;
		padding: 17px 26px;
		margin: 0px 5px;
		text-transform: uppercase;
		font-size: 16px;
		font-family: "Museo-900";
		color: #fff;
		&:hover{
			color: #fff;
		}
		&--red{
			background-color: #e74f4c;
			span:before{
				transform: rotate(-40deg);
				display: inline-block;
			}
			&:hover{
				background-color: #9ccf69;
			}
		}
		&--blue{
			background-color: #24b7d2;
			&:hover{
				background-color: #9ccf69;
			}
		}
		span{
			margin-right: 10px;
		}
	}
}

.maps{
	height: 500px;
	display: flex;
	position: relative;
	&__info{
		position: absolute;
		width: 280px;
		height: 280px;
		margin: auto;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		background-color: #fff;
		z-index: 99999;
		border-radius: 50%;
		box-shadow: 0px 0px 10px rgba(0,0,0,.1);
		text-align: center;
		overflow: hidden;
	}
	&__mail{
		font-family: "Museo-300";
		text-transform: uppercase;
		font-size: 13px;
		color: #4e4e4e;
		background-color: #fff;
		height: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		span{
			color: #e74f4c;
			font-size: 32px;
		}
		&:hover{
			color: #e74f4c;
		}
	}
	&__phones{
		height: 50%;
		background-color: #e74f4c;
		color: #fff;
		font-size: 19px;
		font-family: "Museo-900";
		margin: 0;
		width: 100%;
		justify-content: center;
		padding-top: 18px;
		.icon-phone{
			color: #ef8c8a;
			font-size: 60px;
			position: relative;
			top: 12px;
		}
		.header__phones-wrap{
			width: 155px;
		}
		a{
			&:hover{
				color: #24b7d2;
			}
		}

		span{
			font-family: "Museo-300";
			color: #fff;
		}
	}
	&__map{
		width: 100%;
		height: 100%;
	}
	&__map-wrap{
		width: 50%;
		height: 100%;
		position: relative;
	}
	&__name{
		font-family: "Museo-500";
		color: #44474e;
		font-size: 20px;
		padding: 25px 50px;
		position: absolute;
		z-index: 9999;
		background-color: #fff;
		box-shadow: 0px 0px 10px rgba(0,0,0,.1);
		&--top{
			top: 40px;
			right: 80px;
		}
		&--bottom{
			bottom: 40px;
			left: 80px;
		}
		span{
			font-family: "Museo-900";
		}
	}
}

.how-we-work{
	background-color: #fbfbfa;
	padding: 140px 0px;
	text-align: center;
	&__title{
		text-align: center;
		margin-bottom: 50px;
		h2{
			font-size: 48px;
			color: #383838;
			margin: 0;
			font-family: "Museo-900";
		}
	}
	&__container{
		position: relative;
	}
	&__item{
		font-size: 14px;
		text-align: left;
		display: inline-block;
		transform: translate(-10px, -10px);
		h6{
			text-transform: uppercase;
			font-family: "Museo-900";
			margin-bottom: 2px;
		}
		&.animate{
			animation: getDefault 1.5s;
			animation-fill-mode: forwards;
		}
		&.getInfo{
			position: absolute;
			right: 10%;
			top: -12px;
			opacity: 0;
			&:before{
				width: 146px;
				height: 69px;
				content: "";
				position: absolute;
				right: calc(100% + 19px);
				top: 0;
				background-image: url("/img/some-icons2.png");
				background-repeat: no-repeat;
			}
		}
		&.prepayment{
			position: absolute;
			left: 1%;
			top: 4px;
			opacity: 0;
			animation-delay: 1.5s;
			&:before{
				width: 149px;
				height: 79px;
				content: "";
				position: absolute;
				left: calc(100% + 19px);
				top: 0;
				background-image: url("/img/some-icons2.png");
				background-position: left -69px;
				background-repeat: no-repeat;
			}
		}
		&.design{
			position: absolute;
			left: -6%;
			top: 500px;
			opacity: 0;
			animation-delay: 2.5s;
			&:before{
				width: 149px;
				height: 79px;
				content: "";
				position: absolute;
				left: 0;
				top: -79px;
				background-image: url("/img/some-icons2.png");
				background-position: left -229px;
				background-repeat: no-repeat;
			}
		}
		&.htmlcss{
			position: absolute;
			right: -9%;
			top: 157px;
			opacity: 0;
			animation-delay: 3.5s;
			&:before{
				width: 146px;
				height: 69px;
				content: "";
				position: absolute;
				right: calc(100% + 19px);
				top: 0;
				background-position: left -149px;
				background-image: url("/img/some-icons2.png");
				background-repeat: no-repeat;
			}
		}
		
		&.testing{
			position: absolute;
			right: -9%;
			top: 518px;
			opacity: 0;
			animation-delay: 5.5s;
			&:before{
				width: 146px;
				height: 69px;
				content: "";
				position: absolute;
				right: calc(100% + 19px);
				top: 0;
				background-position: left -309px;
				background-image: url("/img/some-icons2.png");
				background-repeat: no-repeat;
			}
		}
		&.giveCust{
			position: absolute;
			right: 30%;
			bottom: 60px;
			opacity: 0;
			animation-delay: 6.5s;
			&:before{
				width: 146px;
				height: 69px;
				content: "";
				position: absolute;
				right: calc(100% + 19px);
				top: 0;
				background-position: left -392px;
				background-image: url("/img/some-icons2.png");
				background-repeat: no-repeat;
			}
		}
	}
	svg{
		width: 100%;
		height: auto;
	}
	&__mobile-item{
		margin-bottom: 30px;
		.how-we-work__item{
			position: relative;
			right: auto;
			top: auto;
			left: auto;
			bottom: auto;
			margin-bottom: 15px;
			padding-left: 80px;
			animation: none;
			opacity: 1;
			&:before{
				width: 62px;
				height: 62px;
				left: 0;
				top: 50%;
				margin-top: -31px;
				content: "";
				background-image: url("/img/some-icons3.png");
				background-position: center top;
			}
			&.getInfo:before{
				background-position: center 1px;
			}
			&.prepayment:before{
				background-position: center -61px;
			}
			&.design:before{
				background-position: center -125px;
			}
			&.htmlcss:before{
				background-position: center -186px;
			}
			&.testing:before{
				background-position: center -248px;
			}
			&.giveCust:before{
				background-position: center -310px;
			}
		}
	}
}

.reviews{
	text-align: center;
	background-image: url("/img/hands.jpg");
	position: relative;
	z-index: 0;
	min-height: 892px;
	color: #fff;
	padding: 144px 0;
	&:after{
		content: "";
		background-image: url("/img/pattern.png");
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		opacity: .26;
	}
	&__title{
		h2{
			margin: 0;
			margin-bottom: 100px;
			font-size: 48px;
			font-family: "Museo-900";
			position: relative;
			&:after{
				content: "";
				width: 80px;
				height: 4px;
				background-color: #e74f4c;
				position: absolute;
				bottom: -20px;
				left: 50%;
				margin-left: -40px;
			}
		}
	}
	&__img{
		margin-bottom: 30px;
	}
	&__name{
		letter-spacing: 1px;
		font-size: 20px;
		font-family: "Museo-700";
		margin-bottom: 6px;
	}
	&__company{
		font-size: 16px;
		color: #abd6d7;
		font-family: "Museo-300";
		position: relative;
		margin-bottom: 65px;
		&:after{
			content: "";
			width: 80px;
			height: 4px;
			background-color: #abd6d7;
			position: absolute;
			bottom: -30px;
			margin-left: -40px;
			left: 50%;
		}
	}
	&__message{
		width: 700px;
		margin: 0px auto;
	}
	.swiper-pagination{
		margin-top: 45px !important;
		position: relative !important;
	}
	.swiper-pagination-bullet{
		width: 25px;
		height: 25px;
		background-color: #525252;
	}
	.swiper-pagination-bullet-active{
		background-color: #8c8c8c;
	}
}

.footer{
	padding: 105px 0px;
	background-color: #2f2f2f;
	box-shadow: 0px -36px 49px rgba(0,0,0,.2);
	position: relative;
	z-index: 9999;
	&:after{
		content: "";
		background-image: url("/img/pattern.png");
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		opacity: .26;
	}
	&__phones-mail{
		margin-top: 12px;
		color: #4e4e4e;
		display: inline-block;
		span{
			margin-right: 10px;
			margin-left: 4px;
		}
	}
	&__phones{
		.icon-phone{
			margin-right: 20px;
		}

	}
	&__container{
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		color: #fff;
	}
	&__logo{
		width: 270px;
		margin-right: 30px;
	}
	&__text{
		font-size: 18px;
		font-family: "Museo-300";
		width: 540px;
		p{
			margin-bottom: 6px;
		}
		span{
			color: #e74f4c;
		}
	}
}

.navigation{
	position: fixed;
	height: 100vh;
	top: 0;
	right: 34px;
	z-index: 999999;
	width: 41px;
	padding: 130px 0px;
	&__inner{
		display: flex;
		height: 100%;
		flex-direction: column;
		justify-content: space-between;
		position: relative;
		.span{
			width: 1px;
			display: block;
			flex-grow: 1;
			background-color: #545454;
			left: 50%;
			position: relative;
			margin-left: -.5px;
		}
	}
	&__dot{
		width: 41px;
		height: 41px;
		border: 1px solid #545454;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		&:not(:last-child):after{
			/* content: ""; */
			width: 1px;
			height: 28px;
			background-color: #545454;
			left: 50%;
			top: 100%;
			position: absolute;
		}
		svg{
			font-size: 23px;
			color: #545454;
			transition: all .2s ease;
		}
		&:hover,&.mPS2id-highlight-first{
			background-color: #e74f4c;
			color: #fff;
			border-color: #e74f4c;
			svg{
				color: #fff;
			}
		}
	}
}

//animation 1

.anim{
	opacity: 0;
	transition: all 1s ease;
	position: relative;
	&:after{
		content: "";
		width: 10px;
		height: 10px;
		background-color: red;
		position: absolute;
		left: 0;
		top: 0;
		
	}
}

#anim1{
	transform: translate(82px,-114px);
}
#anim3{
	transform: translate(-107px, -75px);
	animation-delay: 1s ease;
}
#anim4{
	transform: translate(-141px, 122px);
}
#anim2{
	transform: translate(-141px, 122px);
}
#anim6{
	transform: translate(82px,-114px);
}
#anim5{
	transform: translate(-141px, 122px);
}
#anim7{
	transform: translate(82px,-114px);
}


.animate svg{
	#anim1,#anim3,#anim4,#anim2,#anim6,#anim5,#anim7{
		animation: getDefault 1s;
		animation-fill-mode: forwards;
	}
	#anim3{
		animation-delay: 1s;
	}
	#anim4{
		animation-delay: 2s;
	}
	#anim2{
		animation-delay: 3s;
	}
	#anim6{
		animation-delay: 4s;
	}
	#anim5{
		animation-delay: 6s;
	}
	#anim7{
		animation-delay: 5s;
	}
	
}


//animation 2

.animate .our-garanties__icon .icon{
	animation: startIcons 1s;
	animation-fill-mode: forwards;
}

.animate .our-garanties__icon.anim2 .icon,
.animate .our-garanties__icon.anim2 + p{
	animation-delay: 1s;
}
.animate .our-garanties__icon.anim3 .icon,
.animate .our-garanties__icon.anim3 + p{
	animation-delay: 2s;
}
.animate .our-garanties__icon.anim4 .icon,
.animate .our-garanties__icon.anim4 + p{
	animation-delay: 3s;
}
.animate .our-garanties__icon.anim5 .icon,
.animate .our-garanties__icon.anim5 + p{
	animation-delay: 4s;
}




@keyframes startIcons {  
    0% {
      top: 0;
    }
    50% {
      transform: scale(1.7);
      top: -100px;
    }
    100% {
		top: 0;
		transform: scale(1);
    }
  }

@keyframes getTop {  
    from {
      opacity: 0;
      top: 10px;
    }
    to {
      top: 0px;
      opacity: 1;
    }
  }


@keyframes getDefault {  
    from {
      opacity: 0;
    }
    to {
      transform: translate(0);
      opacity: 1;
    }
  }


@import "partials/media";