@media only screen and (min-width : 1200px) {
	.our-works__item{height: auto;}
}

@media only screen and (max-width : 1200px) {
	.header__want-order a{padding: 17px 15px;}
	.header__container{align-items: center;}
	.header__logo{width: 171px;}
	.header__phones{width: 158px;}
	.header__want-order{width: 296px;}
	.banner{padding-top: 136px;}
	.banner__title h2{font-size: 36px;}
	.banner__icons{padding-left: 75px;}
	.our-garanties__buttons{margin-top: 71px;}
	.calculator__slider__slide1:after{border: 508px solid transparent;border-right: 64px solid #e7f3f2;}
	.calculator__slider__slide2:after{border: 469px solid transparent;border-right: 64px solid #e74f4c;}
	.who-work{padding: 30px 0px;}
	.who-work__item.seo:before{left: 6px;}
	.who-work__item-img span{width: 62px;height: 62px; border-radius: 50%;}
	.who-work__item .logo img{width: 230px; }
	.who-work__item a{padding: 20px 30px; &:before{display: none;}}
	.tarifs__container{justify-content: center;}
	.tarifs__item{margin: 33px 60px;}
	.calculator__title h2, .our-garanties__title-demo h2, .vide-about-us__title h2{font-size: 40px;}
	.our-works__item{height: auto;}
	.our-garanties{padding: 148px 15px;}
	.maps__phones{width: 100%;}
	.how-we-work__item:before{display: none;}
	.how-we-work__item.getInfo{right: 17%; top: -18px;}
	.how-we-work__item.htmlcss{right: -4%; top: 123px;}
	.how-we-work__item.design{left: -2%; top: 377px;}
	.how-we-work__item.giveCust{bottom: 0;}
	.how-we-work__item.testing{top: 422px; right: 0;}
	.how-we-work__item.giveCust{right: 47%;}
	.calculator__managers{padding: 0 139px;}

}

@media only screen and (max-width : 992px) {
	.header{position: relative;}
	.header__container{flex-wrap: wrap;    justify-content: space-around;}
	.header__info{margin-top: 20px;}
	.banner{padding-top: 27px; height: auto; padding: 30px 10px;}
	.who-work__item{width: 50%;}
	.who-work__item.web{padding-left: 50px;}
	.our-works__item{width: 33.3334%;}
	.tarifs__item{margin: 33px 31px;}
	.calculator__title h2, .our-garanties__title-demo h2, .vide-about-us__title h2{font-size: 32px;}
	.tarifs__title h2{font-size: 41px;}
	.our-garanties__icons{flex-wrap: wrap;}
	.our-garanties__icon{margin-bottom: 30px;}
	.footer__text{width: 336px;}
	.navigation{padding: 3px 0px;}
	.maps__phones{width: 100%;}
	.maps__name{font-size: 14px;padding: 15px;&--top{top: 0px; right: 0px;}&--bottom{bottom:0;left:0;}}
	.tarifs{padding: 60px 0px;}
	.how-we-work__item.getInfo{right: 17%; top: -18px;}
	.how-we-work__item.htmlcss{right: -4%; top: 100px;}
	.how-we-work__item.design{left: -2%; top: 260px;}
	.how-we-work__item.giveCust{bottom: 0;}
	.how-we-work__item.testing{top: 300px; right: 0;}
	.how-we-work__item.giveCust{right: 39%;}
	.our-garanties__icons{margin-bottom: 30px;}
	.banner__icons{padding-left: 0;}
	.calculator__managers{padding: 0 23px;}
}	
 
@media only screen and (max-width : 768px) {
	.header__container{text-align: center;flex-direction: column; justify-content: space-around;}
	.header__logo,
	.header__want-order{margin-bottom: 20px;}
	.banner__title h2{font-size: 22px;}
	.banner__icons{width: 100%; flex-wrap: wrap; flex-direction: column; align-items: center;}
	.banner{background-color: #ededed;}
	.banner__icon{margin-bottom: 88px;}
	.banner{padding-bottom: 213px; height: auto;background-size: cover; background-position: center bottom;}
	.our-garanties__buttons{flex-direction: column; align-items: center;}
	.our-garanties__button{margin-bottom: 20px;}
	.calculator__title h2, .our-garanties__title-demo h2, .vide-about-us__title h2{font-size: 21px;}
	.who-work{padding: 25px 0px;}
	.who-work__title h2{font-size: 23px;}
	.who-work__title{padding: 0px; padding-bottom: 25px;}
	.who-work__item{width: 100%;}
	.maps__map-wrap{width: 100%;height: 50%;}
	.maps{flex-direction: column;}
	.maps__name{font-size: 14px;padding: 15px;&--top{top: 0px; right: 0px;}&--bottom{bottom:0;left:0;}}
	.maps__info{width: 100%; height: 85px; position: absolute; top: 50%; margin-top: -50px;border-radius: 0;}
	.reviews{min-height: 700px; padding: 80px 0;}
	.footer__phones{width: 100%;}
	.maps__mail{display: flex;padding: 10px; justify-content: center; align-items: center; height: auto; display: flex;}
	.maps__mail span,.maps__mail br{display: none;}
	.maps__phones{width: 100%;height: auto; padding: 10px; .icon-phone{display: none;}}
	.maps__phones .header__phones-wrap{display: flex; width: 100%;}
	.who-work__item .logo{padding-top: 0;}
	.who-work__item{margin-bottom: 25px;}
	.who-work__item.web{padding-left: 0;}
	.who-work__item.web:after{display: none;}
	.who-work .counter{padding-left: 0; padding-top: 60px; margin-top: 25px;}
	.who-work .counter:before{left: 50%; margin-left: -70px; top: -25px; position: absolute;}
	.our-works__item{width: 50%;}
	.vide-about-us__title{width: 100%;}
	.our-garanties{padding: 20px 15px;}
	.our-garanties__title{width: 100%; h2{font-size: 22px;}}
	.our-garanties__icons{margin-bottom: 40px;}
	.our-garanties__titles{text-align: center;}
	.footer__container{text-align: center;flex-direction: column;align-items: center; .icon-phone{display: none;}}
	.footer__logo{margin-right: 0; margin-bottom: 15px;}
	.footer__text{margin-bottom: 15px;}
	.footer__phones-mail{font-size: 18px; color: #fff; &:hover{color: #e74f4c;}}
	.our-works__title h2,
	.tarifs__title h2,
	.reviews__title h2{font-size: 22px;}
	.tarifs{padding: 30px 15px;}
	.reviews__message{width: 100%;}
	.vide-about-us{padding-top: 30px;}
	.navigation{padding: 15px 0px; right: 10px;}
	.footer{padding: 35px 0;}
	.tarifs{padding: 60px 0px;}
	.navigation{display: none;}
	.who-work__item.web{margin-top: 40px;}
	.banner{padding-bottom: 75px;}
	.how-we-work__item.getInfo:before{display: block;}
	.how-we-work__item.htmlcss:before{display: block;}
	.how-we-work__item.prepayment:before{display: block;}
	.how-we-work__item.design:before{display: block;}
	.how-we-work__item.giveCust:before{display: block;}
	.how-we-work__item.testing:before{display: block;}
	.how-we-work__item.giveCust:before{display: block;}
	.how-we-work__item{top: 0 !important; left: 0 !important;right: 0 !important; bottom: 0 !important;}
	.banner__container{flex-direction: column;}
	.calculator{order: 1; width: 100%;}
	.banner__icons{order: 2; padding-left: 0;}
	.banner__icon{padding-top: 140px; padding-left: 0; text-align: center; margin-bottom: 40px; &:before{left: 50%; margin-left: -63px; top: 0; margin-top: 0;}}
	.popup-order{max-width: 100%; width: 100%; padding: 30px;}
	.popup-order__title{width: 100%;}
	.banner__title h2, .popup-order__title h2{width: 100%;}
	.popup-order__personal{flex-direction: column;align-items: center;}
	.popup-order__personal-text{width: 215px; padding-bottom: 100px;}
	.popup-order__personal-text:after{transform: rotate(-90deg); top: auto; bottom: 30px; left: 0;}
	.popup-order__personal-items{width: 80%;}
	.popup-order__form-input{width: 100%; margin: 15px 0px;}
	.calculator__form-input, .popup-order__form-input, .calculator__form-select{width: 100%;}
	.calculator__managers .popup-order__personal-text{text-align: center;width: 100%;}
	.calculator__managers .popup-order__personal-text p{width: 100%;}
	.calculator__managers{padding: 0px;}
	.popup-order__personal-text:after{bottom: 3px; right: 23px !important;}
	.header__want-order{justify-content: center;}
	.our-works__item-info h4{    margin-bottom: 50px; font-size: 18px;}
	.our-works__item-info p{margin-bottom: 20px; font-size: 14px;}
	.our-works__item-info a{    padding: 16px 13px; font-size: 14px;}
}


@media only screen and (max-width : 480px) {
	.footer__text{width: 100%;}
	.maps__phones{font-size: 12px;}
	.tarifs__item{margin: 0; margin-bottom: 60px;}
	.vide-about-us__show-video{padding: 26px 9px 26px 100px;}
	.vide-about-us__play:after{display: none;}
	.banner{padding-bottom: 50px; background-image: none;}
	.our-garanties__buttons{margin-top: 15px;}
	.how-we-work{padding: 35px 0px;}
	.how-we-work__title h2{font-size: 26px;}
	.our-garanties__buttons{margin-top: 50px;}
	.how-we-work__mobile-item{margin-bottom: 50px;}
	.how-we-work__mobile-item .how-we-work__item{margin-bottom: 4px;}
	.our-works__title h2, .reviews__title h2, .tarifs__title h2{font-size: 20px;}
	.calculator{padding: 15px 10px;}
	.banner{
		padding: 30px 0px;
	}
	.banner__icon{width: 100%;}
	.calculator__form-submit .header__want-order{width: 100%;}
	.popup-order__personal-items{width: 100%;}
	.popup-order__personal-items{flex-direction: column;}
	.popup-order__personal-item{margin-bottom: 30px;}
	.popup-order{padding: 15px;}
	.popup-order__submit a{width: 100%; padding-left: 15px;padding-right: 15px;}
	.checbox-custom{text-align: center;}
	.popup-order__personal{margin-bottom: 2px;}
	.popup-order__personal-text:after{bottom: 36px;}
	.step1 .popup-order__personal-text:after{bottom: 3px;}
	.header__want-order{justify-content: space-between;}
	.vide-about-us{min-height: 450px;}
		.our-works__item-info h4{    margin-bottom: 30px; font-size: 14px;}
	.our-works__item-info p{margin-bottom: 10px; font-size: 10px;}
	.our-works__item-info a{    padding: 16px 13px; font-size: 10px;}
	.maps__info{height: 108px;}
	.maps__phones .header__phones-wrap{flex-direction: column;}
	.maps__phones .header__phones-wrap a{font-size: 14px;}
	.who-work__item a:not(.order){padding: 0px !important;}
}

@media only screen and (max-width : 360px) {
	
}