@media only screen and (max-width : 1200px) {
	.header__want-order a{padding: 17px 15px;}
	.header__container{align-items: center;}
	.header__logo{width: 171px;}
	.header__phones{width: 158px;}
	.header__want-order{width: 296px;}
	.banner{padding-top: 136px;}
	.banner__title h2{font-size: 36px;}
	.banner__icons{width: 600px;}
	.our-garanties__buttons{margin-top: 71px;}
	.calculator__slider__slide1:after{border: 508px solid transparent;border-right: 64px solid #e7f3f2;}
	.calculator__slider__slide2:after{border: 469px solid transparent;border-right: 64px solid #e74f4c;}
	.who-work{padding: 30px 0px;}
	.who-work__item.seo:before{left: 6px;}
	.who-work__item-img span{width: 62px;height: 62px; border-radius: 50%;}
	.who-work__item .logo img{width: 230px; }
	.who-work__item a{padding: 20px 30px; &:before{display: none;}}
	.tarifs__container{justify-content: center;}
	.tarifs__item{margin: 33px 60px;}
	.calculator__title h2, .our-garanties__title-demo h2, .vide-about-us__title h2{font-size: 40px;}
	.our-works__item{height: auto;}
	.our-garanties{padding: 148px 15px;}

}

@media only screen and (max-width : 992px) {
	.header{position: relative;}
	.header__container{flex-wrap: wrap;    justify-content: space-around;}
	.header__info{margin-top: 20px;}
	.banner{padding-top: 27px;}
	.who-work__item{width: 50%;}
	.who-work__item.web{padding-left: 50px;}
	.our-works__item{width: 33.3334%;}
	.tarifs__item{margin: 33px 31px;}
	.calculator__title h2, .our-garanties__title-demo h2, .vide-about-us__title h2{font-size: 32px;}
	.tarifs__title h2{font-size: 41px;}
	.our-garanties__icons{flex-wrap: wrap;}
	.our-garanties__icon{margin-bottom: 30px;}
	.footer__text{width: 336px;}

}	
 
@media only screen and (max-width : 768px) {
	.header__container{text-align: center;flex-direction: column; justify-content: space-around;}
	.header__logo,
	.header__want-order{margin-bottom: 20px;}
	.banner__title h2{font-size: 22px;}
	.banner__icons{width: 100%; flex-wrap: wrap; flex-direction: column; align-items: center;}
	.banner{background-color: #ededed;background-image: url("/img/banner-phone.png");}
	.banner__icon{margin-bottom: 30px;}
	.banner{padding-bottom: 213px; height: auto;background-size: cover; background-position: center bottom;}
	.our-garanties__buttons{flex-direction: column;}
	.our-garanties__button{margin-bottom: 20px;}
	.calculator__title h2, .our-garanties__title-demo h2, .vide-about-us__title h2{font-size: 21px;}
	.who-work{padding: 0px;}
	.who-work__title h2{font-size: 23px;}
	.who-work__title{padding: 0px; padding-bottom: 25px;}
	.who-work__item{width: 100%;}
	.maps__map-wrap{width: 100%;height: 50%;}
	.maps{flex-direction: column;}
	.maps__name{font-size: 14px;padding: 15px;&--top{top: 0px; right: 0px;}&--bottom{bottom:0;left:0;}}
	.maps__info{width: 100%; height: 85px; position: absolute; top: 50%; margin-top: -50px;border-radius: 0;}
	.reviews{min-height: 700px; padding: 80px 0;}
	.footer__phones{width: 100%;}
	.maps__mail{display: flex;padding: 10px; justify-content: center; align-items: center; height: auto; display: flex;}
	.maps__mail span,.maps__mail br{display: none;}
	.maps__phones{width: 100%;height: auto; padding: 10px; .icon-phone{display: none;}}
	.maps__phones .header__phones-wrap{display: flex; width: 100%;}

}


@media only screen and (max-width : 480px) {
	
}

@media only screen and (max-width : 360px) {
	
}